<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.foo.mapper.RelAdminRoleMapper">

    <resultMap id="VOResultMap" type="com.foo.model.vo.RelAdminRoleVO">
        <!--@Table `rel_admin_role` -->
        <id column="admin_id" jdbcType="BIGINT" property="adminId"/>
        <id column="role_id" jdbcType="BIGINT" property="roleId"/>
    </resultMap>

    <select id="listByCondition" resultMap="VOResultMap">
        select
        <include refid="Dynamic_Column"/>
        from `rel_admin_role`
        <where>
            <if test="params != null">
            </if>
            and state = 0
        </where>
    </select>
</mapper>
